<!DOCTYPE html>

<html>
<head>
<title> Image Recognizer </title>
<link rel="stylesheet" href="/static/css/bootstrap.css"> 
<script src="/static/js/bootstrap.js"></script> 
<script src="/static/js/bootstrap.bundle.js"></script>
<script src="/static/js/jquery-3.6.0.js"></script> 


</head>


<body>

<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #80cbc4">
  <a class="navbar-brand" href="/">Image Classifier</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      
    </ul>
  </div>
</nav>

<div class='container'>
<br>
<br>
<h3>Image Recognizer WebApp</h3>
<br>
<br>
</div>

{% block body %}


{% endblock body %}

</body>
<div class='container'>
<hr>

<footer>
Developed by <a href="https://aayush360.github.io/about.html">Aayush</a>
</footer>

</div>



</html>
